.login_background{
	-fx-background-color:red;
	-fx-border-width:2px;
	-fx-border-color:#467813;
	-fx-background-image: url("/background_img.png")  no-repeat;
	-fx-background-size: cover;
}

.login_title{
	-fx-font-size: 2em;
	-fx-font-family: cursive;
	-fx-font-style: oblique;
	-fx-font-family:serif;
	-fx-color: lightgreen;
	-fx-font-weight: bold;
    -fx-text-alignment: center;
}

.login_button{
	-fx-background-color:#000;
}

.login_panel{
	-fx-background-color: black;
	-fx-background-image: url("/maxresdefault.jpg")  no-repeat;
	-fx-effect: dropshadow( three-pass-box , black , 8 , 0.0 , 2 , 0 );
}